.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.grid {
  display: grid;
  grid-template-rows: 10vh 90vh;
  grid-template-columns: 1fr 1fr;
  background-color: #282c34;
  height: 100%;
  justify-items: start;
  justify-content: center;
  min-height: 300px;
  min-width: 300px;
}

.Workspace {
  border: none;
  min-width: 100%;
  min-height: 80px;
}